html, body, #root, .App {
  height: 100%;
  overflow: hidden;
  margin:0px
}

.light-grey {
  border: solid 2px rgba(232, 232, 232, 1);
  background-color: rgba(232, 232, 232, 1);
}

.light-grey:hover {
  background-color: rgba(124, 124, 124, 0.452);
  color: rgb(0, 0, 0);
}

.light-grey:active,
.light-grey:focus {
  outline: 0;
  -moz-outline-style: none;
}

.light-grey:active {
  background-color: rgb(151, 151, 151);
  border: solid 2px rgba(46, 49, 49, 1);
  color: rgb(0, 0, 0);
}

.light-blue {
  border: solid 2px rgb(208, 242, 255);
  background-color: rgb(208, 242, 255);
}

.light-blue:hover {
  background-color: rgb(182, 234, 255);
  color: rgb(0, 0, 0);
}

.light-blue:active,
.light-blue:focus {
  outline: 0;
  -moz-outline-style: none;
}

.light-blue:active {
  background-color: rgb(147, 224, 255);
  border: solid 2px rgba(46, 49, 49, 1);
  color: rgb(0, 0, 0);
}

button, .calculator-input {
  color: rgb(0, 0, 0);
  border-radius: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  font-weight: bold;
  margin: 5px;
}

.calculator-input{
  font-size: 40px;
}

.body {
  border: solid 2px green;
    padding: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.calculator {
  min-width: 440px;
  min-height: 700px;
  border: solid 10px purple;
  height: 90%;
  width: 40%;
  border: solid 7px rgba(46, 49, 49, 1);
  border-radius: 30px;
  margin: auto;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    "i i i i i"
    "seven eight nine divide clear"
    "four five six multiply clear"
    "one two three minus clear"
    "zero dot equals plus clear";
}

.one{
  color: red;
  border: solid 10px red;
  grid-area: one;
}
.two{
  color: green;
  border: solid 10px green;
  grid-area: two;
}
.nigger{
  width: 300px;
  height: 300px;
  border: solid 10px purple;
  display: grid;

  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "one one"
    "two two"
;
}

.calculator-input {
  grid-area: i;
}
.b1{
  grid-area: one;
}
.b2{
  grid-area: two;
}
.b3{
  grid-area: three;
}
.b4{
  grid-area: four;
}
.b5{
  grid-area: five;
}
.b6{
  grid-area: six;
}
.b7{
  grid-area: seven;
}
.b8{
  grid-area: eight;
}
.b9{
  grid-area: nine;
}
.b0{
  grid-area: zero;
}
.bx{
  grid-area: multiply;
}
.b-{
  grid-area: minus;
}
.beq{
  grid-area: equals;
}
.bpl{
  grid-area: plus;
}
.bc{
  grid-area: clear;
}
.bdiv{
  grid-area: divide;
}
.bdot{
  grid-area: dot;
}





.calculator-input:active,
.calculator-input:focus {
  outline: 0;
  -moz-outline-style: none;
}



/*HIDES INPUT ARROWS FOR Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*HIDES INPUT ARROWS FOR Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
